
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1474654713'); /* IE9*/
  src: url('iconfont.eot?t=1474654713#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1474654713') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1474654713') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1474654713#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:48px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/*myadd*/
.iconfont_dot{
  font-size:24px;
}

.icon-equal1161885easyiconnet:before { content: "\e600"; }
.icon-chuhao:before { content: "\e601"; }
.icon-iconfontdian:before { content: "\e602"; }
.icon-xjifyunsuanchenghao2:before { content: "\e603"; }
.icon-xjifyunsuanchuhao2:before { content: "\e604"; }
.icon-xjifyunsuanjiahao1:before { content: "\e605"; }
.icon-yuandianxiao:before { content: "\e606"; }
.icon-jianfuhao:before { content: "\e607"; }
.icon-shanchuhuitui:before { content: "\e608"; }
.icon-shuxue:before { content: "\e609"; }
